@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.accordion__container {
  max-width: 500px;
  width: 90%;
  margin: 20px auto 0;
  border: 1px solid gainsboro;
  border-bottom: 0;
  background-color: coral;
}

.accordion__tab {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  border-top: 0;
  border-bottom: 1px solid gainsboro;
}

.accordion__tab::after {
  content: "＋";
  position: absolute;
  right: 20px;
}

.accordion__tab.active::after {
  content: "ー";
}

.accordion__content {
  padding: 10px 20px;
  display: none;
  background: whitesmoke;
  border-bottom: 1px solid gainsboro;
}

.accordion__content.active {
  display: block;
}